<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>
	</head>
	<body class="w-100 sans-serif">
		<header>
			<% include partials/header %>
		</header>
		<main class="w-100 bt b--black-10 bg-white">
		<section class="bg-black-0125 w-100">
			<article class="pb4">
				<div class="ph3 ph5-ns">
					<div class="cf mw9 center tc-m">
						<div class="pb3 pb4-ns pt4 pt5-ns mt4 black-70 fl-l w-50-l">
							<div class="mb4">
								<span class="green ba bw1 pa3 f3 lh-copy b br2">&checkmark; Package located!</span>
							</div>
							<h1 class="fw6 f3">
								Your package is at <a href="https://www.google.com/maps/dir/Current+Location/<%= lastItem.PostGPS %>" title=""><%= lastItem.Location %></a>
							</h1>
							<p class="f5 f4-ns fw4 mv5">
								Welcome to Thailand Post's Track &amp; Trace system. This system is designed for customers in order to track item delivery in Thailand and International.
							</p>
							<h2>History for Package <%= trackCode %></h2>
							<table class="collapse ba br2 b--black-10 pv2 ph3 mt4">
								<thead>
									<tr>
										<td class="pv2 ph3">#</td>
										<td class="pv2 ph3">Date / Time</td>
										<td class="pv2 ph3">Status</td>
										<td class="pv2 ph3">Post Office</td>
									</tr>
								</thead>
								<tbody>
									<% items.forEach(function(item, index) { %>
									<tr class="striped--near-white">
										<th scope="row" class="pv2 ph3"><%= index + 1 %></th>
										<td class="pv2 ph3"><%= item.DateTime %></td>
										<td class="pv2 ph3"><%= item.StatusName %> <%= item.Description %></td>
										<td class="pv2 ph3"><a href="https://www.google.com/maps/dir/Current+Location/<%= item.PostGPS %>"><%= item.Location %></a></td>
									</tr>
									<% }); %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</article>
		</section>
		</main>
		<footer>
			<% include partials/footer %>
		</footer>
	</body>
</html>